/*---------------------------------
            LEFT SIDE
----------------------------------*/

.left-side {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
}

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}


.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}

.logo {
    padding-top: 5px;
    height: 50px;
}

.logo a {
    font-size: 28px;
    color: #fff;
    margin: 0 0 0 20px;
    text-decoration: none;
    display: inline-block;
}

.logo-icon {
    display: none;
}

.left-side-collapsed .logo-icon {
    height: 45px;
    margin-top: -48px;
    display: block !important;
}

.left-side-inner {
    padding: 0px;
    margin-bottom: 50px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width: 90%;
    margin: 0 0 20px 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}

.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.custom-nav {
    margin-bottom: 10px;
}

.custom-nav > li > a {
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    text-align: center;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    background-color: #353f4f;
    color: #65cea7;
    border-radius: 0;
    -webkit-border-radius: 0;
}


.custom-nav > li.nav-active > ul{
    display: block;
}


.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #353f4f;
    color: #65cea7;
}

.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #353f4f;
}

.custom-nav .sub-menu-list > li > a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color: #65cea7;
    background: #2a323f;
}

.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list > li.active > a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}

.custom-nav .menu-list.active ul {
    display: block;
}

/*-----------------------------
        MAIN CONTENT
------------------------------*/

.main-content {
    padding-top: 1px;
    margin-left: 240px;
    min-height: 100vh;
    background: #eff0f4;
}

.content-box{
    margin: 10px auto;
    width: 98%;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.content-box .content-header{
    padding: 20px;
    color: #535351;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

/*-----------------------------
        table styles
------------------------------*/

.table-restrictor{
    padding: 0 25px;
    max-height: 80vh;
    overflow-y: scroll;
}

.table{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>th, 
.table>caption+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>td, 
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td, 
.table tbody > tr > td, 
.table tfoot > tr > td {
    padding: 10px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td {
    border-top: 1px solid #ddd;
}

.table img{
    width: 80px;
    height: 80px;
    overflow: hidden;
}

/*-----------------------------
        btn styles
------------------------------*/

.btn {
    display: inline-block;
    margin: 0 5px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #ac2925;
}

/*-----------------------------
        form styles
------------------------------*/

.form-restrictor{
    width: 800px;
    padding: 35px;
    margin: 20px auto;
    border: 1px solid #ebeef5;
}

.el-form{
    width: 600px;
    margin: 0 auto;
}

.el-form .item{
    position: relative;
    margin-bottom: 18px;
    color: #606266;
}

.el-form .item .item-label{
    height: 32px;
    line-height: 32px;
    padding-right: 12px;
    font-size: 14px;
    text-align: right;
}

.el-form .item .is-required::before{
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
}

.el-form .item .item-input{
    width: 480px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    padding: 0 15px;
    transition: all .2s cubic-bezier(.645,.045,.355,1);
}

.el-form .item .item-input:hover{
    border-color: #c0c4cc;
}

.el-form .item .item-input:focus{
    border-color: #409eff;
    outline: 0;
}

.el-form .item :is(.is-success, .is-success:hover, .is-success:focus){
    border-color: #67c23a;
}

.el-form .item :is(.is-error, .is-error:hover, .is-error:focus){
    border-color: #f56c6c;
}

.el-form .item .error-msg{
    position: absolute;
    top: 100%;
    left: 82px;
    padding-top: 2px;
    color: #f56c6c;
    font-size: 12px;
    line-height: 1;
}

.el-form .form-controller{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}